
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #272727;
    color: white;
    text-align: center;
    padding: 2rem;
}

header img {
    width: 120px;
    height: auto;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: #f8f8f8;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: #0A3D62;
    border-bottom: 2px solid #0A3D62;
    padding-bottom: 5px;
}

ul {
    padding-left: 20px;
}


.wireframe {
    border: 2px solid #0A3D62;
    padding: 10px;
    margin-top: 10px;
}

.wireframe div {
    border: 1px solid #555;
    padding: 15px;
    margin: 10px 0;
    text-align: center;
    background-color: white;
}

footer {
    background-color: #34393d;
    color: white;
    text-align: center;
    padding: 1rem;
}