* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Sour Gummy", sans-serif;
	background-color: #ffffff;
	color: #000000;
}

header {
	font-family: "Coiny", cursive;
	background-color: #dca0eb;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	border: 1px solid rgba(109, 30, 30, 0.1);
	box-shadow: 0 0 30px #e90752;
}

header,
main {
	max-width: 800px;
	margin: 0 auto;
}

header p {
	font-family: "Coiny", cursive;
	font-size: 2rem;
	color: #5a0040;
	position: relative;
}

h1 {
	font-family: "Sour Gummy", sans-serif;
	font-size: 1.5rem;
	padding: 1rem;
	text-align: center;
	color: #4a0033;
}

h2 {
	font-size: 2rem;
	color: #7a004f;
}

h3 {
	font-size: 1.5rem;
	color: #7a004f;
}

nav {
	background-color: #a53d7c;
}

nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
}

nav a {
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: larger;
}

nav a:hover {
	text-decoration: underline double;
	background-color: #eeeeee;
	color: #4a0033;
}

.active {
	color: #7a0000;
}

main {
	padding: 1rem;
}

.gallery {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}

.stdlf {
	font-weight: 700;
	border-bottom: 1px solid #df1e1e;
	margin-bottom: 1rem;
}

section {
	margin: 2rem auto;
	max-width: 960px;
	padding: 0.5rem;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 25px;
	place-items: center;
}

img,
.rocorn,
.opac,
.blur,
.gray,
.object,
.contrast,
.saturate,
.shape-outside,
.mbm-difference,
.mbm-hard-light,
.transform,
.turn {
	width: 95%;
	height: auto;
	margin: 0.5rem;
	display: block;
}

.hover:hover,
.rocorn:hover,
.opac:hover,
.blur:hover,
.gray:hover,
.object:hover,
.contrast:hover,
.saturate:hover,
.shape-outside:hover,
.mbm-difference:hover,
.mbm-hard-light:hover,
.transform:hover,
.turn:hover {
	box-shadow: 0 0 50px #333333;
}

figcaption {
	font-size: smaller;
	text-align: center;
	color: #000000;
}

footer {
	width: 100%;
	background-color: #8b3b6e;
	color: #ffffff;
	text-align: center;
	padding: 1rem;
}

footer p {
	font-family: "Coiny", cursive;
	font-size: 1rem;
	color: #ffffff;
}


#menu {
	background: none;
	border: none;
	margin-left: auto;
	cursor: pointer;
}

#menu::before {
	content: "☰";
	font-size: 2rem;
	color: #ffffff;
}

#menu.open::before {
	content: "✖";
}

@media (min-width: 740px) {

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}

	nav a {
		flex: 1 1 100%;
	}
}

@media (max-width: 768px) {

	#menu {
		display: block;
	}

	.navigation a {
		display: none;
	}

	.navigation.open a {
		display: block;
	}
}